@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Carrois Gothic SC', sans-serif;
  }